// $color-teal: #32888b;
$color-teal: #26547c;
$color-dark: #1D1D1D;
$color-light: #faf8ff;
$color-light-darker: #E0DFE1;
$color-pseudo: #B8B8B8;

$colors-header: (#eb1d4b, #f78c57, #3f9592);
$colors-items: (#ff8d9d, #FFCBA0, #8CDDDA);


$radius: 10px;

$font-headings-min: 15px;
$font-headings-max: 25px;
